---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/formatted_date.astro';
import Layout from '../../layouts/single_column.astro';
import { Image } from 'astro:assets';
import drake from './_drake_sm.png';

const posts = (await getCollection('blog')).sort(
	(a: any, b: any) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout
  title="me treasures"
	description="hey it the weblog of forrest baer"
>
  <div id="titleWrap">
    <Image src={drake} alt="drake again" width="140" />
    <div>
      <h1>me treasures</h1>
<p>[<a href="/rss.xml">RSS</a>] <br />log of collected ideas and experimentations</p>
    </div>
  </div>
<ul>
  {
    posts.map((post: any) => (
      <li class="post">
        <a href={`/blog/${post.slug}/`}>
        <div class="date"><FormattedDate date={post.data.pubDate} /></div>
        <div class="title">{post.data.title} </div>
        <p>{post.data.description}</p>
        </a>
      </li>
    ))
  }
</ul>
</Layout>

<style>
#titleWrap {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}
@media all and (max-width: 500px) {
  #titleWrap {
    display: block;
    text-align: center;
  }
}
ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}
.post {
  margin-bottom: 2ch;
}
.post .title {
  background: var(--gray-light);
  color: var(--black);
  padding: 0 0.8ch;
  display: inline-block;
  font-size: 1.3rem;
}
.post a {
  color: var(--gray);
}
.post a:hover {
  color: var(--primary);
  text-decoration: none;
}
.post a:hover .title {
  background: var(--white);
}
.post p {
  margin: 0;
  line-height: 1.6em;
  padding: 0.4rem 0 0 1ch;
}
.post .date {
  color:var(--gray);
  font-size: 1.1rem;
  padding-left: 1ch;
}
</style>

